@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*----------ACCUEIL------------*/

body{
    margin: 0;
}
main{
    width: 95%;
    margin:0 auto;
}

#banner{
    display: block;
    margin: 0 auto;
}

.categorie img{
    width:50%;
}

.categorie div{
    width: 40%;
    float: right;
}

#bracelets{
    display: inline-block;
}

#bracelets img{
    float: right;
}

.text{
    margin: 50px;
    text-align: justify;
    margin-top: 140px;
}

.text h2{
    text-align: center;
    color: darkslategray;
}

h2,p,a,li{
    font-family: 'Josefin Sans', sans-serif;
    color: lightslategrey;
}

p,a{
    font-size: 20px;
}

.lien{
    border: 1px solid darkslategray;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 150px
}

.lien:hover{
    background-color: rgba(9, 219, 219,0.2);
}

/*************PAGE CONTACT*************/
#titre-contact {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

#info-contact div{
    display: inline-block;
    width: 23%;
    text-align: center;
    float: left;
    margin: 10px;
}

#info-contact{
    margin: 0 auto;
    border:1px dotted lightgrey;
    height: 200px;
    margin-top: 20px;
}

#info-contact img{
    height: 50px;
}

#formu{
    width: 50%;
    margin:0 auto;
}

#formu label{
    display: inline-block;
}

#formu input{
    width: 420px;
    height: 35px;

}

#form input[type='text'],select {
    margin:20px 0;
}

#formu label{
    width: 200px;
    font-size: 20px;
}

#formu input[type="radio"] {
    width: 20px;
    display: inline-block;
}

#formu li{
    margin: 30px 0;
}

#section-radio label{
    width: 100px;
}

#bouton-formu input[type="submit"]{
    background-color: rgba(9, 219, 219,0.2);
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 150px;
    border:1px solid lightgrey;
    color: darkgrey;
}

input#bouton-formu{
    display: block;
    margin:0 auto;
    height: 50px;
}

.error{
    color:rgb(9, 219, 219);
}

#banner-form{
    width: 100%;
}

#maps{
    margin: 30px auto;
    display: table;
}

/*******FIN FORMULAIRE*********/

/* debut styler le menu nav */
nav#menu {
    border-bottom: solid 1px grey;
    border-top:solid 1px grey;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
}
#menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#menu ul li {
    display: inline-block;
    width: 20%;
    margin: 15px;
}
#menu ul li a {
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #978b8b;
}

div#logo_panier {
    text-align: center;
    border-top: solid 1px grey;
    position: relative;
}
div#logo_panier img {
    display: inline;
    width: 25%;
    margin: 10px 0;
}
div#logo_panier #panier {
    display: inline;
}
div#logo_panier #panier img {
    width: 4%;
}
div#logo_panier #panier > span {
    position: absolute;
    font-size: 2em;
    top: 28px;
    width: 38px;
    background-color: rgba(0, 255, 157, 0.27);
    height: 35px;
    right: 455px;
    border-radius: 15px;
    font-weight: bold;
    color: rgb(255, 108, 0);

}
div#info_supplimentaire {
    position: relative;
    height: 50px;
    border-top: solid 1px grey;
}

div#info_supplimentaire a img {
    width: 1.4%;
}
div#info_supplimentaire img {
    width: 3%;
    margin: 0 25px;
}
div#info_supplimentaire form {
    display: inline;
}
div#info_supplimentaire div {
    position: relative;
    left: 80%;
    top: -21px;
}

/*fin styler menu*/

/*debut page catalogue*/
div.conteneur_item {
    border: solid 1px grey;
    padding: 5px;
    margin: 10px 0;
}

div.conteneur_item .img_item img {
    width: 90%;
}
#coneteneur_global {
    text-align: center;
}
#coneteneur_global div.conteneur_item {
    display: inline-block;
    width: 30%;
}

/****FOOTER*****/
.footer-menu{
    float: left;
}

.footer-menu{
    width: 33%;
}

footer ul li h2{
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
    padding:15px 0;
}

footer li{
    text-align: center;
    margin:20px 0;
}

footer ul{
    padding: 0;
}

footer a:hover{
    color: rgb(0, 255, 157);
}

#wrapper footer {
    height: 350px;
    background-color: rgb(248, 249, 249);
}

<<<<<<< HEAD
/*fin page catalogue*/
=======
/*fin style menu nav*/
>>>>>>> c31facc95fdc1d9b042a337872d67b2b7cf2ed5b
