@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
    box-sizing: border-box;
    text-decoration: none;
}

/*----------ACCUEIL------------*/

body{
    width: 95%;
    margin:0 auto;
}

#banner{
    display: block;
    margin: 0 auto;
}

.categorie img{
    width:50%;
}

.categorie div{
    width: 40%;
    float: right;
}

#bracelets{
    display: inline-block;
}

#bracelets img{
    float: right;
}

.text{
    margin: 50px;
    text-align: justify;
    margin-top: 140px;
}

.text h2{
    text-align: center;
    color: darkslategray;
}

h2,p,a{
    font-family: 'Josefin Sans', sans-serif;
    color: lightslategrey;
}

p,a{
    font-size: 20px;
}

.lien{
    border: 1px solid darkslategray;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 150px
}

.lien:hover{
    background: rgba(230,230,250,0.5);

}
/* debut styler le menu */
nav#menu {
    border-bottom: solid 1px grey;
    border-top:solid 1px grey;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
}
#menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#menu ul li {
    display: inline-block;
    width: 20%;
    margin: 15px;
}
#menu ul li a {
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #978b8b;
}

div#logo_panier {
    text-align: center;
    border-top: solid 1px grey;
}
div#logo_panier img {
    display: inline;
    width: 40%;
    margin: 10px 0;
}
div#info_supplimentaire {
    height: 50px;
    border-top: solid 1px grey;
}


/*fin styler menu*/